@charset "UTF-8";
/** 
 * Created with IntelliJ IDEA. 
 * User: llc 
 * Date: 2015/3/3 
 * Time: 17:28 
 * To change this template use File | Settings | File Templates. 
 */
/**
 * Created with IntelliJ IDEA. 
 * User: llc 
 * Date: 2015/3/3 
 * Time: 11:30 
 * To change this template use File | Settings | File Templates. 
 */
/* line 34, ../sass/_var.scss */
* {
  margin: 0;
  padding: 0; }

/* line 38, ../sass/_var.scss */
html {
  font-size: 20px; }

@media screen and (min-width: 768px) {
  /* line 43, ../sass/_var.scss */
  html {
    font-size: 40px; } }
@font-face {
  font-family: 'icomoon';
  src: url("../img/fonts/icomoon.eot");
  src: url("../img/fonts/icomoon.eot#iefix") format("embedded-opentype"), url("../img/fonts/icomoon.woff") format("woff"), url("../img/fonts/icomoon.ttf") format("truetype"), url("../img/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 59, ../sass/_var.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; }

/* line 68, ../sass/_var.scss */
.box-wrap {
  width: 16rem;
  min-height: 100vh;
  padding-top: 2.2rem; }

/* line 73, ../sass/_var.scss */
.box-wrap_1 {
  width: 16rem;
  min-height: 100vh; }

/* line 78, ../sass/_var.scss */
.hidden {
  display: none; }

/* line 79, ../sass/_var.scss */
p, hr, ul, ol, dl, blockquote, pre, address, fieldset, figure {
  margin: 0; }

/*head*/
/*-----------------------红色----------------------*/
/* line 82, ../sass/_var.scss */
.head {
  position: fixed;
  top: 0;
  z-index: 1001;
  width: 100%;
  background-color: #da3c3c;
  box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.6);
  overflow: hidden; }
  /* line 91, ../sass/_var.scss */
  .head a {
    line-height: 2.2rem;
    color: #fff;
    width: 2rem;
    text-align: right;
    display: block;
    z-index: 2;
    font-size: 1.3rem;
    position: absolute;
    left: 0;
    top: 0; }
  /* line 103, ../sass/_var.scss */
  .head div {
    text-align: center;
    color: #fff;
    line-height: 2.2rem;
    font-size: .9rem; }
  /* line 112, ../sass/_var.scss */
  .head span {
    line-height: 2.2rem;
    color: #fff;
    width: 2rem;
    text-align: left;
    display: block;
    z-index: 2;
    font-size: .7rem;
    position: absolute;
    top: 0;
    right: 0; }
  /* line 125, ../sass/_var.scss */
  .head em {
    position: absolute;
    top: .2rem;
    right: .3rem;
    width: .8rem;
    height: .8rem;
    border-radius: .8rem;
    -o-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -webkit-border-radius: .8rem;
    background-color: #fff;
    color: #da3c3c;
    line-height: .8rem;
    text-align: center;
    z-index: 3;
    font-size: .5rem; }
  /* line 128, ../sass/_var.scss */
  .head .yellow {
    color: #f7bb48;
    font-size: .7rem; }
  /* line 132, ../sass/_var.scss */
  .head .icon-span {
    line-height: 2.2rem;
    color: #fff;
    width: 2rem;
    text-align: left;
    display: block;
    z-index: 2;
    font-size: 1.3rem;
    position: absolute;
    top: 0;
    right: 0; }

/*-----------------------灰色----------------------*/
/* line 146, ../sass/_var.scss */
.head-grey {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1001;
  background-color: #ffffff;
  height: 2.2rem;
  overflow: hidden; }
  /* line 154, ../sass/_var.scss */
  .head-grey a {
    line-height: 2.2rem;
    color: #282737;
    width: 2rem;
    text-align: right;
    display: block;
    z-index: 2;
    font-size: 1.3rem;
    position: absolute;
    top: 0;
    left: 0; }
  /* line 166, ../sass/_var.scss */
  .head-grey div {
    width: 100%;
    text-align: center;
    color: #282737;
    line-height: 2.2rem;
    font-size: .9rem; }

/*---------------------------------------------*/
/* line 176, ../sass/_var.scss */
.head-red {
  position: fixed;
  top: 0;
  z-index: 1001;
  background-color: #ffffff;
  height: 2.2rem;
  overflow: hidden; }
  /* line 184, ../sass/_var.scss */
  .head-red div {
    width: 100%;
    margin-left: 2rem;
    text-align: center;
    color: #282737;
    line-height: 2.2rem;
    font-size: .9rem; }
  /* line 193, ../sass/_var.scss */
  .head-red span {
    line-height: 2.2rem;
    color: #da3c3c;
    width: 2rem;
    text-align: left;
    display: block;
    z-index: 2;
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0; }

/*---------------------------------------------*/
/* line 207, ../sass/_var.scss */
.head-the {
  position: fixed;
  top: 0;
  z-index: 1001;
  background-color: transparent;
  overflow: hidden; }
  /* line 213, ../sass/_var.scss */
  .head-the a {
    line-height: 2.2rem;
    color: #fff;
    width: 2rem;
    text-align: right;
    display: block;
    z-index: 2;
    font-size: 1.3rem;
    position: absolute;
    top: 0;
    right: 0; }

/*---------------------------------------------*/
/* line 227, ../sass/_var.scss */
.head_null {
  position: fixed;
  top: 0;
  z-index: 1001;
  width: 100%;
  background-color: #da3c3c;
  height: 2.2rem;
  overflow: hidden; }
  /* line 236, ../sass/_var.scss */
  .head_null div {
    width: 100%;
    color: #fff;
    line-height: 2.2rem;
    font-size: .9rem;
    text-align: center; }

/*-------------------底部--------------------------*/
/* line 245, ../sass/_var.scss */
.home_pof {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1001;
  height: 2.5rem;
  border-top: 1px solid #d8d8d8;
  background-color: #fff; }
  /* line 253, ../sass/_var.scss */
  .home_pof ul {
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0; }
    /* line 258, ../sass/_var.scss */
    .home_pof ul li {
      float: left;
      width: 33.33333%; }
      /* line 261, ../sass/_var.scss */
      .home_pof ul li a {
        display: block; }
        /* line 263, ../sass/_var.scss */
        .home_pof ul li a .icon-pof {
          font-size: 1.4rem;
          line-height: 1rem;
          margin-top: .5rem;
          color: #999999;
          text-align: center; }
        /* line 271, ../sass/_var.scss */
        .home_pof ul li a .char_pof {
          font-size: .5rem;
          line-height: 1rem;
          text-align: center;
          color: #5f646e; }
      /* line 279, ../sass/_var.scss */
      .home_pof ul li a:hover .icon-pof {
        color: #da3c3c; }
      /* line 282, ../sass/_var.scss */
      .home_pof ul li a:hover .char_pof {
        color: #da3c3c; }
      /* line 287, ../sass/_var.scss */
      .home_pof ul li a:active .icon-pof {
        color: #da3c3c; }
      /* line 290, ../sass/_var.scss */
      .home_pof ul li a:active .char_pof {
        color: #da3c3c; }
      /* line 295, ../sass/_var.scss */
      .home_pof ul li .red .char_pof {
        color: #da3c3c; }
      /* line 298, ../sass/_var.scss */
      .home_pof ul li .red .icon-pof {
        color: #da3c3c; }

/*# sourceMappingURL=test.css.map */
