@charset "utf-8";
/**
 * Created with IntelliJ IDEA. 
 * User: llc 
 * Date: 2015/3/3 
 * Time: 11:30 
 * To change this template use File | Settings | File Templates. 
 */

$bg-color:#f6f6f6;
$border-color:#ececec;  //实线
$border-color2:#dfdfdf;//虚线
$font-color999:#999;
$font-color666:#666;
$font-color333:#333;
$red:#e02d2a;
$green:#3db73e;
$orange:#ff9900;
$blue:#2163bd;
$yellow:#ffb400;

$fz10:.5rem;
$fz12:.6rem;
$fz14:.7rem;
$fz16:.8rem;
$fz18:.9rem;
$fz20: 1rem;
$fz22:1.1rem;
$fz24:.1.2rem;
$fz26:.1.3rem;
$fz28:.1.4rem;
$fz30:.1.5rem;

html {
  font-size: 20px;
}

@media screen and (min-width: 768px){
  html{
    font-size: 40px;
  }
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../../v10/img/fonts/icomoon.eot?v=4.3.0');
  src: url('../../v10/img/fonts/icomoon.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../../v10/img/fonts/icomoon.woff2?v=4.3.0') format('woff2'), url('../../v10/img/fonts/icomoon.woff?v=4.3.0') format('woff'), url('../../v10/img/fonts/icomoon.ttf?v=4.3.0') format('truetype'), url('../../v10/img/fonts/icomoon.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}