@charset "utf-8";
/**
 * Created with IntelliJ IDEA. 
 * User: rabbit
 * Date: 2015/3/3 
 * Time: 14:42 
 * To change this template use File | Settings | File Templates. 
 */
@import "var";
ul{
  margin: 0;
  padding: 0;
}
em,i{
  font-style: normal;
  font-weight: normal;

}

img{
  width: 100%;
}
html{
  height: 100%;
}

button[disabled], html input[disabled] {
  cursor: default;
}
button[disabled="disabled"]{
  background-color: #ffaebc !important;
  color: #ff433b !important;
}


::-webkit-input-placeholder {color:#ffdce2; }

input:-moz-placeholder {color:#ffdce2; }



input[name="reg"]::-webkit-input-placeholder {color:#ffaebc; }

input[name="reg"]:-moz-placeholder {color:#ffaebc; }

select [name="select"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


input[name="checkbox"] {
  border-radius:.1rem;
  -o-border-radius:.1rem;
  -moz-border-radius:.1rem;
  -webkit-border-radius:.1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
input[name="checkbox"]:checked {
          background:url("../img/sus-checked.png") 0 0 no-repeat;
          -webkit-background-size: 100%;
          background-size: 100%;
        }
 /*-----------------------官方活动 activity-offical.html----------------------*/

.am-tabs-default .am-tabs-nav{
  overflow: hidden;

  .ac_tabs{
    width: 50%;
    float: left;
    background-color: #FFF;
    border: #da3c3c solid .1rem;
    border-top-left-radius: .4rem;
    -o-border-top-left-radius: .4rem;
    -moz-border-top-left-radius: .4rem;
    -webkit-border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    -o-border-bottom-left-radius: .4rem;
    -moz-border-bottom-left-radius: .4rem;
    -webkit-border-bottom-left-radius: .4rem;
    line-height: 1.55rem;
    height: 1.55rem;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    a{
      background-color: transparent;
      color: #da3c3c;
      display: block;
      font-size: .6rem;
      line-height: 1.35rem;
      text-align: center;

    }
  }
  .ac_tabs_r{
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 50%;
    float: right;
    border: #da3c3c solid .1rem;
    background-color: #fff;
    border-top-right-radius: .4rem;
    -o-border-top-right-radius: .4rem;
    -moz-border-top-right-radius: .4rem;
    -webkit-border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    -o-border-bottom-right-radius: .4rem;
    -moz-border-bottom-right-radius: .4rem;
    -webkit-border-bottom-right-radius: .4rem;
    line-height: 1.55rem;
    height: 1.55rem;
    a{
      background-color: transparent;
      color: #da3c3c;
      display: block;
      font-size: .6rem;
      line-height: 1.35rem;
      text-align: center;

    }

  }

}
.am-tabs-default .am-tabs-nav .am-active{
  background-color: #da3c3c;
  a{
    color: #FFF;
  }
}

.am-tabs-bd{
  border:none;
  img{
    width: 100%;
  }
}
.am-tabs-bd .am-tab-panel{
  padding: 0;
}
.ac_img{
  overflow: hidden;
  position: relative;
  margin: .4rem 0 0 0;
  padding: 0;
  display: block;
  border-radius: .8rem;
  -o-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -webkit-border-radius: .8rem;
  height: 8.15rem;
  img{
    border-radius: .8rem;
    -o-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -webkit-border-radius: .8rem;
  }

  .ac_img_char{
    position: absolute;
    top:.7rem;
    left: .75rem;
    width: 14.5rem;
    color: #fff;
    text-shadow: 0px 2px 2px  #000;
    p{
      font-size:1.5rem;
      line-height: 1.5rem;
      color: #fff;
      margin: 0;
      padding: 0;
      span{
        line-height: 1rem;
        color: #fff;
        font-size: 1rem;
        margin: 0;
        padding: 0;
      }
    }
    div{
      border-left: .2rem solid #fcf700;
      margin-top:1rem;
      height:1.5rem;
      color: #fff;
      p{
        font-size: .6rem;
        line-height:.8rem;
        margin-left: .6rem;
      }
      span{
        font-size: .6rem;
        line-height: .5rem;
        color: #fff;
        display: block;
        margin-left: .6rem;
        text-shadow: 0px 2px 2px  #000;
      }
    }
  }
  i{
    position: absolute;
    bottom: .6rem;
    right: .4rem;
    color: #fcf700;
    font-size: .6rem;
    text-shadow: 0px 2px 2px  #000;
  }
}

/*-----------------------登陆 enter.html----------------------*/
.en_logo{
  width:40%;
  margin:0 auto;
  padding:2.5rem 0;
}
.en_text{
  width: 13rem;
  margin: 0 auto;
  overflow: hidden;
  div{
    width: 100%;
    margin-bottom: .6rem;
    overflow: hidden;
    .icon-enicon{
      color: #fff;
      line-height: 2.2rem;
      font-size: .9rem;
      width:2rem;
      text-align: center;
      background-color:#fe8795 ;
      display: block;
      border-top-left-radius: .7rem;
      -o-border-top-left-radius: .7rem;
      -moz-border-top-left-radius: .7rem;
      -webkit-border-top-left-radius: .7rem;
      border-bottom-left-radius: .7rem;
      -o-border-bottom-left-radius: .7rem;
      -moz-border-bottom-left-radius: .7rem;
      -webkit-border-bottom-left-radius: .7rem;
      border:1px #fe8795 solid;
      float: left;
      box-sizing: border-box;
      -o-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      height: 2.2rem;
    }
    input{
      width: 10.8rem;
      float: left;
      padding-left: 1rem;
      font-size:.7rem;
      line-height: 2.2rem;
      height: 2.2rem;
      color: #ffdce2;
      border:1px #fe8795 solid;
      border-top-right-radius: .7rem;
      -o-border-top-right-radius: .7rem;
      -moz-border-top-right-radius: .7rem;
      -webkit-border-top-right-radius: .7rem;
      border-bottom-right-radius: .7rem ;
      -o-border-bottom-right-radius: .7rem ;
      -moz-border-bottom-right-radius: .7rem ;
      -webkit-border-bottom-right-radius: .7rem ;
      box-sizing: border-box;
      -o-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;

    }
  }
}
.en_button{
  border:2px #ffffff solid;
  border-radius: .7rem;
  -o-border-radius: .7rem;
  -moz-border-radius: .7rem;
  -webkit-border-radius: .7rem;
  display: block;
  font-size:.8rem;
  line-height: 2.2rem;
  text-align: center;
  color: #fff;

}
.en_button:hover{
  color: #282737;
}
.en_char{
  color: #FFF;
  font-size: .7rem;
  width: 5rem;
  float: right;
  text-align:right;
  line-height: 1.5rem;

}
.en_char_l{
  color: #FFF;
  font-size: .7rem;
  width: 3rem;
  float:left;
  text-align:left;
  line-height: 1.5rem;
}
.en_char_l:hover{
  color: #282737;
}
.en_char:hover{
  color: #282737;
}
/*-----------------------注册 register.html----------------------*/
.reg_top{
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  line-height: 6.25rem;
}
.re_text{
  width: 13rem;
  margin: 0 auto;
  overflow: hidden;
  .ren_text{
    border-top:1px solid #fe8795;
    border-bottom: 1px solid #fe8795;
    overflow: hidden;
    border-top-right-radius: .6rem;
    -o-border-top-right-radius: .6rem;
    -moz-border-top-right-radius: .6rem;
    -webkit-border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
    -o-border-bottom-right-radius: .6rem;
    -moz-border-bottom-right-radius: .6rem;
    -webkit-border-bottom-right-radius: .6rem;
    span{
      width: 3.5rem;
      color: #FFF;
      float: left;
      line-height: 2.2rem;
      font-size:.7rem;
      text-align:left;
    }
    input{
      margin: 0;
      width: 6rem;
      line-height: 2.2rem;
      height: 2.2rem;
      font-size:.7rem;
      float: left;
      color:#ffaebc;

    }
    button{
      width:3.5rem;
      float: left;
      border-right: 1px solid #fe8795;
      border-left: 1px solid #fe8795;
      -o-border-radius: .6rem;
      -moz-border-radius: .6rem;
      -webkit-border-radius: .6rem;
      font-size: .6rem;
      line-height: 2.2rem;
      height: 2.2rem;
      box-sizing: border-box;
      -o-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      color: #ffe1a7;
    }
  }
  div{
    border-bottom: 1px solid #fe8795;
    overflow: hidden;
    span{
      width: 3.5rem;
      color: #FFF;
      float: left;
      line-height: 2.2rem;
      font-size:.7rem;
      text-align:left;
    }
    input{
      margin: 0;
      width: 9.5rem;
      line-height: 2.2rem;
      height: 2.2rem;
      font-size:.7rem;
      float: left;
      color:#ffaebc;

    }
    i{
      color: #fff;
      font-size: .6rem;
      line-height:1.5rem;
      display: block;
    }
    .select{
      float: right;
      width: 5.5rem;
      border-bottom: none;
      position: relative;
      .icon-select{
        color: #fff;
        font-size: .7rem;
        width: 1rem;
        text-align: right;
        position: absolute;
        right: 0;
        top:0;
        z-index:9;
        line-height: 2.2rem;
      }
      select{
        width:8rem;
        float: left;
        background-color: transparent;
        color: #ffaebc;
        font-size: .7rem;
        line-height: 2.2rem;
        height: 2.2rem;
        border:none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }

  }
  .checkbox{
    margin: 0;
    width: 9.5rem;
    line-height: 2.2rem;
    height: 2.2rem;
    font-size:.7rem;
    float: left;
    color:#ffaebc;
    border-bottom: none;
    p{
      width: 4.75rem;
      float: left;
      color:#ffaebc;
      margin: 0;
      padding: 0;
      input{
        width:.7rem;
        height: .7rem;
        border: 1px solid #ffaebc ;
        line-height: 2.2rem;
        float: left;
        margin-right: .4rem;
        margin-top: .8rem;

      }
    }

  }
}
.reng_width{
  width: 80%;
  margin: 1.5rem auto;
}
/*-----------------------AA-聚餐 aa-picnic.html----------------------*/
.aa-ul{
  width: 90%;
  margin: 0 auto;
}