@charset "utf-8";
/**
 * Created with IntelliJ IDEA. 
 * User: llc 
 * Date: 2015/3/3 
 * Time: 11:32 
 * To change this template use File | Settings | File Templates. 
 */

@import "var";

.top-head{
  height: 2.25rem;
  line-height: 2.25rem;
  width: 100%;
}