@font-face {
	font-family: 'icomoon';
	src:url('../icomoon.eot');
	src:url('../icomoon.eot#iefix') format('embedded-opentype'),
		url('../icomoon.woff') format('woff'),
		url('../icomoon.ttf') format('truetype'),
		url('../icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-circle:before {
	content: "\f600";
}

.icon-circle-one:before {
	content: "\f601";
}

.icon-circle-two:before {
	content: "\f602";
}

.icon-iconfont-activity:before {
	content: "\f603";
}

.icon-iconfont-back:before {
	content: "\f604";
}

.icon-iconfont-check:before {
	content: "\f605";
}

.icon-iconfont-close:before {
	content: "\f606";
}

.icon-iconfont-comment:before {
	content: "\f607";
}

.icon-iconfont-countdown:before {
	content: "\f608";
}

.icon-iconfont-edit:before {
	content: "\f609";
}

.icon-iconfont-friend:before {
	content: "\f60a";
}

.icon-iconfont-friendadd:before {
	content: "\f60b";
}

.icon-iconfont-friendfill:before {
	content: "\f60c";
}

.icon-iconfont-home:before {
	content: "\f60d";
}

.icon-iconfont-like:before {
	content: "\f60e";
}

.icon-iconfont-likefill:before {
	content: "\f60f";
}

.icon-iconfont-location:before {
	content: "\f610";
}

.icon-iconfont-lock:before {
	content: "\f611";
}

.icon-iconfont-message:before {
	content: "\f612";
}

.icon-iconfont-mobile:before {
	content: "\f613";
}

.icon-iconfont-more:before {
	content: "\f614";
}

.icon-iconfont-my:before {
	content: "\f615";
}

.icon-iconfont-notification:before {
	content: "\f616";
}

.icon-iconfont-notificationfill:before {
	content: "\f617";
}

.icon-iconfont-recharge:before {
	content: "\f618";
}

.icon-iconfont-rechargefill:before {
	content: "\f619";
}

.icon-iconfont-search:before {
	content: "\f61a";
}

.icon-iconfont-settings:before {
	content: "\f61b";
}

.icon-iconfont-tag:before {
	content: "\f61c";
}

.icon-iconfont-taxi:before {
	content: "\f61d";
}

.icon-iconfont-ticket:before {
	content: "\f61e";
}

.icon-iconfont-time:before {
	content: "\f61f";
}

.icon-iconfont-timefill:before {
	content: "\f620";
}

.icon-iconfont-unfold:before {
	content: "\f621";
}

.icon-iconfont-zizhutuiguang:before {
	content: "\f622";
}

.icon-iconfont-right:before {
	content: "\f623";
}

.icon-iconfont-evaluate:before {
	content: "\f624";
}

.icon-iconfont-scan:before {
	content: "\f625";
}

.icon-11:before {
	content: "\f626";
}

.icon-uniE602:before {
	content: "\f627";
}

.icon-uniE600:before {
	content: "\f628";
}

.icon-uniE604:before {
	content: "\f629";
}

.icon-iconfont-profile:before {
	content: "\f62a";
}

.icon-iconfont-service:before {
	content: "\f62b";
}

.icon-iconfont-vipcard:before {
	content: "\f62c";
}

.icon-uniE608:before {
	content: "\f62d";
}

.icon-uniE609:before {
	content: "\f62e";
}

.icon-uniE60A:before {
	content: "\f62f";
}

.icon-iconfont-qrcode:before {
	content: "\f630";
}

.icon-uniE60C:before {
	content: "\f631";
}

.icon-uniE60D:before {
	content: "\f632";
}

.icon-uniE60E:before {
	content: "\f633";
}

.icon-uniE60F:before {
	content: "\f634";
}

